@model Labb2_Linq.Models.Course
@{
    @if (Model == null)
    {
        <h1> ingen kurs som heter "Programmering 2"</h1>
    }
    else
    {
        <h1>byt namn på "Programmering 2"" till "OOP"</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ProgToOop">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CourseId" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input type="hidden" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }

}
